{% extends 'core/base.html' %}
{% load i18n %}
{% block content %}

<section class="contact-section">
    {% if messages %}
    <div class="messages-container-fixed">
        <div class="messages-container-sticky">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    <p>{{ message }}</p>
                    <button 
                    class="del-msg" 
                    aria-label="Close alert" 
                    type="button" data-close
                    onclick="closeMessage(this)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <h2 class="topic-title">{% trans "Contact" %}</h2>
    <br>
    <ul class="showcase">
        {% for social_link in social_links %}
            <li class="social-link" onclick="window.open('{{ social_link.url }}', '_blank')">
                <img src="{{ social_link.image.url }}" alt="{{ social_link.name }}">
                <h3 class="item-title">{{ social_link.name }}</h3>
            </li>
        {% endfor %}
    </ul>

    <div class="contact-form">
        <form action="{% url 'core:contact' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {% if field.name == 'captcha' %}
                    <button class="refresh-captcha-btn" type="button" data-open onclick="refreshCaptcha()">
                        {% trans 'Refresh Captcha' %}
                    </button>
                {% endif %}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            <input class="submit-btn" type="submit" value="{% trans 'Submit' %}">
        </form>
    </div>
</section>
{% endblock content %}