:root {
  --primary-color: #020024;
  --secondary-color: #013164;
  --secondary-color: linear-gradient(var(--primary-color), #013164);
  --text-color: #ffffff;
  --primary-text-shadow-color: #ffffff;
  --secondary-text-shadow-color: #70deff;
  --default-border-color: #ffffff;
  --profile-border-color: #0066ff;
  --technology-background-color: #0045db;
  --project-background-color: #020024;
  --primary-box-shadow-color: #70deff;
  --secondary-box-shadow-color: rgba(255, 255, 255, 0.1);
  --experience-background-color: #000d24;
  --view-certificate-btn-color: #0066ff;
}
