:root {
  --primary-color: #000000;
  --secondary-color: #121212;
  --text-color: #ffffff;
  --primary-text-shadow-color: #ffffff;
  --secondary-text-shadow-color: #70deff;
  --default-border-color: #747474;
  --profile-border-color: #0066ff;
  --technology-background-color: #343434;
  --project-background-color: #1b1b1b;
  --primary-box-shadow-color: #555555;
  --secondary-box-shadow-color: rgba(255, 255, 255, 0.1);
  --experience-background-color: #090f1b;
  --default-font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  color: var(--text-color);
  font-family: var(--default-font-family);
}

body {
  background: var(--secondary-color);
  font-size: 16px;
  z-index: 0;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

header {
  background: var(--primary-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 5px 5px 1px var(--primary-color);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: 30px;
  cursor: pointer;
}

.logo img {
  width: 40px;
  margin-right: 5px;
  filter: invert(0%);
}

.logo h1 {
  font-size: 30px;
  color: var(--text-color);
  font-weight: bold;
}

.menu {
  width: 70%;
  display: flex;
  justify-content: right;
  text-align: right;
}

.menu a {
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  display: inline-block;
  margin-left: 15px;
  line-height: 1.5;
}

.menu li:hover {
  text-shadow: 0 0 5px var(--primary-text-shadow-color);
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  margin-bottom: 5px;
}

.messages-container-fixed {
  position: fixed;
  top: 80px;
  right: 20px;
}

.messages-container-sticky {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.message {
  display: flex;
  max-width: 600px;
  margin: 10px;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  color: var(--text-color);
  align-items: center;
}

.del-msg {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid var(--default-border-color);
  border-radius: 4px;
  margin-left: 10px;
  background: none;
  color: var(--text-color);
}

.message.success {
  background: rgba(0, 255, 0, 0.3);
  border: 1px solid rgba(0, 255, 0, 90%);
}

.message.error {
  background: rgba(255, 0, 0, 0.3);
  border: 1px solid rgba(255, 0, 0, 90%);
}

.message.warning {
  background: rgba(255, 255, 0, 0.3);
  border: 1px solid rgba(255, 255, 0, 90%);
}

.message.info {
  background: rgba(0, 0, 255, 0.3);
  border: 1px solid rgba(0, 0, 255, 90%);
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.topic-title {
  text-align: center;
  color: var(--text-color);
  font-size: 30px;
  font-weight: bold;
}

.item-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
}

.box {
  max-width: 1500px;
}

.about-section {
  display: flex;
  justify-content: left;
  color: var(--text-color);
  padding: 30px 30px;
}

.about-profile > img {
  width: 200px;
  border-radius: 50%;
  border: 5px solid var(--profile-border-color);
  margin: 50px 90px;
}

.about-text {
  display: inline-block;
  align-self: center;
  justify-self: right;
  padding-right: 10%;
}

.about-text .topic-title {
  text-align: left;
}

.about-text p {
  text-align: justify;
  font-size: 17px;
}

.showcase {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
}

.technologies-section {
  padding: 0 30px;
}

.technology {
  text-align: center;
  color: var(--text-color);
  transition: 0.5s;
}

.technology > h3.item-title {
  transition: 1s;
}

.technology-icon {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 60px;
  height: 60px;
  padding: 15px;
  box-shadow: 0 0 10px var(--primary-box-shadow-color),
    inset 0 0 10px var(--primary-box-shadow-color);
  border-radius: 50%;
  margin: 15px 20px;
  background: var(--technology-background-color);
  filter: invert(0%);
}

.technology-icon img {
  filter: invert(0%);
}

.technology:hover {
  transform: scale(1.2);
}

.technology:hover > h3.item-title {
  text-shadow: 0 0 10px var(--secondary-text-shadow-color);
}

.technology:hover > div.technology-icon {
  box-shadow: 0 0 15px var(--primary-box-shadow-color),
    inset 0 0 15px var(--primary-box-shadow-color);
}

.language-selector label {
  color: var(--text-color);
  margin-bottom: 10px;
}

.language-selector select {
  background: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 2em;
  border: 1px solid var(--default-border-color);
}

.theme-selector label {
  color: var(--text-color);
  margin-bottom: 10px;
}

.theme-selector select {
  background: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  height: 2em;
  border: 1px solid var(--default-border-color);
  border-radius: 4px;
}

.footer-social-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
  background: white;
  background: var(--technology-background-color);
  border-radius: 24px;
}

.footer-social-link {
  position: relative;
  top: 0;
  margin: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: top 500ms;
  padding: 5px;
  background: var(--technology-background-color);
  border-radius: 50%;
}

.footer-social-link:hover {
  transform: scale(1.5);
  top: -10px;
  box-shadow: 0 0 1px var(--primary-box-shadow-color),
    inset 0 0 15px var(--primary-box-shadow-color);
}

.footer-social-link img {
  width: 100%;
}

.experience-section {
  padding: 30px 30px;
}

.experience {
  max-width: 700px;
  margin: 15px 30px;
  padding: 30px;
  border: 1px solid var(--default-border-color);
  border-radius: 10px;
  color: var(--text-color);
  background: var(--experience-background-color);
  box-shadow: 0px 0px 3px 1px var(--default-border-color);
}

.experience ul {
  list-style-type: disc;
  text-align: justify;
  margin-left: 15px;
}

.experience li {
  margin: 10px 0;
}

.projects-section {
  padding-top: 30px;
}

.project {
  width: 300px;
  margin: 15px 30px;
  padding: 30px;
  border: 3px solid var(--default-border-color);
  border-radius: 10px;
  color: var(--text-color);
  background: var(--project-background-color);
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--primary-box-shadow-color),
    inset 0 0 10px var(--primary-box-shadow-color);
}

.project-cover-image {
  width: 100%;
  border: 2px solid var(--default-border-color);
  border-radius: 10px;
  margin: 10px 0;
}

.project-tech-icons {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.project-tech-icons img {
  width: 30px;
  margin: 5px;
  animation-delay: 0ms;
  animation-duration: 0ms;
}

.formation-section {
  padding-top: 30px;
}

.formation {
  display: flex;
  justify-content: left;
  margin: 30px 30px 30px 60px;
  color: var(--text-color);
  border-radius: 10px;
  align-items: center;
  box-shadow: 0px 0px 32px 1px var(--secondary-box-shadow-color);
  padding: 16px;
  position: relative;
}

.formation-image {
  min-width: 50px;
  height: 80px;
  box-shadow: -70px 0px 32px 1px var(--secondary-box-shadow-color);
}

.formation-image img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  left: -30px;
  transition: 500ms;
}

.formation-image img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px var(--primary-box-shadow-color);
}

.formation-content {
  margin-left: 0 px;
}

.course a {
  text-decoration: none;
  color: var(--text-color);
}

.course a:hover {
  text-decoration: none;
  text-shadow: 0 0 5px var(--secondary-text-shadow-color);
  transform: scale(1.1);
}

.pages-paragraph {
  text-align: center;
  font-size: 20px;
  color: var(--text-color);
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  color: var(--text-color);
  background: var(--technology-background-color);
  padding: 10px;
  border-radius: 24px;
  width: 100px;
  aspect-ratio: 1/1;
  box-shadow: 0 0 10px var(--primary-box-shadow-color),
    inset 0 0 10px var(--primary-box-shadow-color);
  cursor: pointer;
  transition: 0.5s;
}

.social-link:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 5px var(--primary-box-shadow-color);
}

.social-link img {
  width: 50px;
  height: 50px;
}

.social-link .item-title {
  margin-top: 10px;
  transition: 0.5s;
}

.social-link:hover > h3.item-title {
  text-shadow: 0 0 5px var(--primary-text-shadow-color);
}

.contact-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: var(--text-color);
  font-family: var(--default-font-family);
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--default-border-color);
  border-radius: 24px;
  width: 500px;
  max-width: 80vw;
  padding: 30px;
  background: var(--primary-color);
}

.contact-form label {
  margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0.8em;
  min-width: -moz-available;
  max-width: -moz-available;
  min-width: -webkit-fill-available;
  max-width: -webkit-fill-available;
  resize: none;
  border: none;
  border-radius: 6px;
  background: #fefefe;
}

.contact-form #id_captcha_1 {
  margin-top: 10px;
}

.contact-form .refresh-captcha-btn {
  cursor: pointer;
  margin-top: 10px;
  border: none;
  border-radius: 2px;
  padding: 0.8em;
}

.captcha {
  margin-top: 10px;
}

.contact-form .submit-btn {
  cursor: pointer;
  margin: 20px 0;
}

.contact-form .errorlist {
  color: tomato;
}

.link-item {
  font-size: 20px;
  line-height: 1.5;
  margin-left: 30px;
  transition: 400ms;
}

.link-item:hover {
  text-shadow: 0 0 5px var(--primary-text-shadow-color);
}

.link-item a {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: linear-gradient(var(--secondary-color), var(--primary-color));
  padding: 10px;
}

@media screen and (max-width: 997px) {
  .header {
    display: block;
  }

  .anchor {
    top: -150px;
  }

  .logo {
    justify-content: center;
    margin: 0;
  }

  .menu {
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }

  .menu ul {
    display: flex;
  }

  .menu li {
    margin: 0 6px 0 6px;
  }

  .about-section {
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 30px 60px 30px;
  }

  .about-text {
    padding: 0 10%;
    margin-top: 30px;
  }

  .about-profile img {
    padding: auto;
    margin: auto;
  }
}

@media screen and (max-width: 754px) {
  html {
    margin: 0;
  }

  .about-section {
    justify-content: center;
    padding: 30px 30px 60px 30px;
  }

  .language-icon {
    width: 60px;
  }

  .experience {
    margin: 15px 10px;
    padding: 20px;
  }

  .contact {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  .header {
    display: flex;
    align-items: flex-start;
  }

  .logo h1 {
    font-size: 25px;
  }

  .about-section {
    padding: 30px 0;
  }

  .experience-section {
    padding: 30px 0;
  }

  .menu {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-toggle.active .bar {
    background-color: #ffffff;
  }

  .active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .active .bar:nth-child(2) {
    opacity: 0;
  }

  .active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu ul {
    display: none;
  }

  .menu a {
    font-size: 30px;
  }

  .menu-toggle.active ~ ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: var(--primary-color);
    position: fixed;
    top: 85px;
    right: 0;
    height: 100%;
    justify-content: flex-start;
    opacity: 0.9;
    border-top: 4px solid white;
    padding-top: 10px;
  }

  .contact-form {
    padding: 20px 0;
  }

  .contact-form form {
    padding: 20px;
  }

  .language-selector select {
    margin-top: 10px;
    height: 3em;
    padding: 10px;
    font-size: 20px;
  }

  .theme-selector select {
    margin-top: 10px;
    height: 3em;
    padding: 10px;
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  .formation {
    flex-direction: column;
    margin: 10px;
    margin-top: 50px;
    width: 100%;
  }

  .formation-image {
    box-shadow: 0px -60px 32px 1px var(--secondary-box-shadow-color);
    justify-content: center;
    width: 80px;
    height: 50px;
  }

  .formation-image img {
    top: -30px;
    left: auto;
  }

  .formation-content {
    justify-content: left;
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
  }

  .social-link {
    margin: 10px;
    padding: 15px;
    width: 60px;
    height: 80px;
  }

  .social-link img {
    width: 40px;
    height: 40px;
  }

  .social-link .item-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 359px) {
  .logo h1 {
    display: none;
  }

  .technology-icon {
    width: 40px;
    height: 40px;
    margin: 10px 20px;
  }

  .project {
    margin: 15px 10px;
    padding: 15px;
  }

  .project-cover-image {
    width: 90%;
  }
}
